<app-navbar></app-navbar>
<div class="w-100 bg-green">
  <app-amount></app-amount>
  <div class="table-responsive">
    <table class="table table-hover table-borderless caption-top table-responsive mt-5 mb-5">
      <caption>
        <h3>Solicitudes Aprobadas</h3>
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Monto</th>
          <th scope="col">Pagado - Liberado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requestsList; let indexElement = index;">
          <th scope="row">{{ indexElement }}</th>
          <td>{{ request.nombre }}</td>
          <td>{{ request.email }}</td>
          <td>${{ request.monto || 0 }} MXN</td>
          <td *ngIf="request.pagado">Si</td>
          <td *ngIf="!request.pagado">No</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
